@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;700;1000;");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #b21c02;
  color: #181a1b;
}

section {
  width: 100%;
  position: relative;
}

.navbar {
  background: #b21c02;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2vw 6vw;
  z-index: 1000;
}

.menu-items {
  display: flex;
  margin-left: auto;
  margin-right: -5vw;
}

.menu-items li {
  list-style: none;
  margin: 0 1.5vw;
}

.menu-items li a {
  display: block;
  color: #fff;
  font-size: 1.5vw;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-items li a span {
  color: #181a1b;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.menu-items li a span:hover {
  color: #fff;
}

.menu-items li:hover a {
  color: #181a1b;
}

.cv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cv-heading {
  font-size: 2rem;
  color: #000;
}

.cv-container img {
  margin-top: 7vh;
  width: 30vw;
}

.cv-buttons {
  position: fixed;
  top: 50%;
  right: -19vw;
  transform: translateY(-50%);
  z-index: 1000;
}

.cv-buttons a {
  margin: 2vh 0;
}

.cv-buttons .fa {
  background: #181a1b;
  color: #fff;
  width: 22vw;
  padding: 1vw;
  border-radius: 20vh;
  font-size: 1.6vw;
  cursor: pointer;
  transition: 0.5s ease;
}

.cv-buttons .fa:hover {
  background: #fff;
  color: #181a1b;
  transform: translateX(-17vw);
}

.cv-buttons .fa span {
  position: relative;
  font-size: 1.5vw;
  margin-left: 6vw;
  bottom: 0.2vw;
}

/* responsive */
input {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
  appearance: none;
}

.navbar label {
  display: none;
}

@media screen and (max-width: 900px) {
  body {
    overflow: auto;
  }

  .navbar label {
    margin-left: auto;
    display: block;
    color: #fff;
    font-size: 3vw;
    padding: 1vw 1.5vw;
    z-index: 1000;
    cursor: pointer;
  }

  .menu-items {
    position: fixed;
    top: 0;
    right: -40vw;
    width: 40vw;
    height: 100%;
    background: #181a1b;
    padding-top: 15vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .menu-items li a {
    color: #fff;
    font-size: 4vw;
    margin: 0.5vw 0;
  }

  .menu-items li a:hover {
    color: #b21c02;
  }

  .menu-items li a span {
    color: #b21c02;
  }

  #check:checked ~ section .navbar .menu-items {
    right: 0;
  }

  #check:checked ~ section .navbar label {
    color: #b21c02;
  }

  .cv-container img {
    margin-top: 7vh;
    width: 100%;
  }

  .cv-buttons {
    position: fixed;
    z-index: 100;
  }

  .cv-buttons .fa {
    width: 32vw;
    padding: 4vw 3vh;
    font-size: 6vw;
  }

  .cv-buttons .fa span {
    font-size: 3vw;
    margin-left: 4vw;
  }

  .cv-buttons .fa:hover {
    background: #fff;
    color: #181a1b;
    transform: translateX(0);
  }

  /* scroll bar */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
  }
}
